// @import "variables.scss";

/* CABOODLE GLOBAL BACKGROUNDS */
.bg-primary {
	background-color: $primary-medium!important;
	color: $white;
}

.bg-primary-light {
	background-color: $primary-light!important;
	color: $white;
}

.bg-secondary {
	background-color: $secondary-medium!important;
	color: $white;
}

.bg-light {
	background-color: $grey-10!important;
}

.bg-dark {
	background-color: $grey-80!important;
	color: $white;
}

.bg-warning {
	background-color: $warning!important;
	color: $white;
}

.bg-error {
	background-color: $error!important;
	color: $white;
}

/* CABOODLE COLOR OVERRIDE */
.color-black {
	color: $grey-100 !important;
}
.color-red {
	color: $error !important;
}
.color-primary {
	color: $primary-medium !important;
}
.color-secondary {
	color: $secondary-medium !important;
}
.color-orange {
	color: $orange-medium !important;
}
.color-white {
	color: #FFF !important;
}
.color-grey {
	color: #ccc !important;
}
/* CABOODLE TEXT STYLES */
.text-center {
	text-align: center;
}

.text-left {
	text-align: center;
}

.text-right {
	text-align: right;
}

.text-justify {
	text-align: justify;
}
.text-danger {
	color: $error !important; 
}

.capitalize {
	text-transform: capitalize;
}

.uppercase {
	text-transform: uppercase !important;
}

.lowercase {
	text-transform: lowercase !important;
}
.italicize {
	font-style: italic !important;
}
.text-weight-lighter {
	font-weight: lighter !important;
}
.text-weight-normal {
	font-weight: normal !important;
}
.text-weight-bold {
	font-weight: bold !important;
}
.text-weight-bolder {
	font-weight: bolder !important;
}
.letter-spacing-1 {
	letter-spacing: 1px;
}

.overflow-ellipsis {
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}
.word-break {
	word-break: break-all;
}
.nowrap {
	white-space: nowrap !important;
}

/* ELEMENTT FORMAT */
.no-margin {
	margin: 0 !important;

	&-bottom {
		margin-bottom: 0 !important;
	}

	&-top {
		margin-top: 0 !important;
	}

	&-left {
		margin-left: 0 !important;
	}

	&-right {
		margin-right: 0 !important;
	}
}

.no-padding {
	padding: 0!important;
}

.pad-all {
	padding: 5px !important;

	&-10 {
		padding: 10px !important;
	}

	&-15 {
		padding: 15px !important;
	}

	&-20 {
		padding: 20px !important;
	}

	&-30 {
		padding: 30px !important;
	}
}

.pad-left {
	padding-left: 15px !important;

	&-5 {
		padding-left: 5px !important;
	}

	&-10 {
		padding-left: 10px !important;
	}

	&-20 {
		padding-left: 20px !important;
	}

	&-25 {
		padding-left: 25px !important;
	}

	&-30 {
		padding-left: 30px !important;
	}
}
.pad-right {
	padding-right: 15px !important;

	&-5 {
		padding-right: 5px !important;
	}

	&-10 {
		padding-right: 10px !important;
	}

	&-20 {
		padding-right: 20px !important;
	}

	&-25 {
		padding-right: 25px !important;
	}

	&-30 {
		padding-right: 30px !important;
	}
}
.pad-top {
	padding-top: 15px !important;

	&-5 {
		padding-top: 5px !important;
	}

	&-10 {
		padding-top: 10px !important;
	}

	&-20 {
		padding-top: 20px !important;
	}

	&-30 {
		padding-top: 30px !important;
	}
}
.pad-bottom {
	padding-bottom: 15px !important;

	&-5 {
		padding-bottom: 5px !important;
	}

	&-10 {
		padding-bottom: 10px !important;
	}

	&-20 {
		padding-bottom: 20px !important;
	}

	&-30 {
		padding-bottom: 30px !important;
	}
}

.no-top-padding {
	padding-top: 0 !important;
}
.no-left-padding {
	padding-left: 0 !important;
}
.no-right-padding {
	padding-right: 0 !important;
}
.no-sides-padding {
	padding-left: 0 !important;
	padding-right: 0 !important;
}
.no-border {
	border: none !important;
}
/* DEFAULT PADDINGS */
.pad-all {
	padding: 5px !important;

	&-10 {
		padding: 10px !important;
	}

	&-15 {
		padding: 15px !important;
	}

	&-20 {
		padding: 20px !important;
	}
}
.pad-left {
	padding-left: 15px !important;

	&-10 {
		padding-left: 10px !important;
	}

	&-20 {
		padding-left: 20px !important;
	}

	&-30 {
		padding-left: 30px !important;
	}
}
.pad-right {
	padding-right: 15px !important;

	&-10 {
		padding-right: 10px !important;
	}

	&-20 {
		padding-right: 20px !important;
	}

	&-30 {
		padding-right: 30px !important;
	}
}
.pad-bottom {
	padding-bottom: 15px !important;

	&-10 {
		padding-bottom: 10px !important;
	}

	&-15 {
		padding-bottom: 15px !important;
	}

	&-20 {
		padding-bottom: 20px !important;
	}

	&-30 {
		padding-bottom: 30px !important;
	}
}
.pad-top {
	padding-top: 15px !important;

	&-10 {
		padding-top: 10px !important;
	}

	&-15 {
		padding-top: 15px !important;
	}

	&-20 {
		padding-top: 20px !important;
	}

	&-30 {
		padding-top: 30px !important;
	}
}
/* DEFAULT MARGINS */
.margin {
	margin: 15px !important;
	&-5 {
		margin: 5px !important;
	}
	&-10 {
		margin: 10px !important;
	}
	&-top {
		margin-top: 15px !important;
		&-5 {
			margin-top: 5px !important;
		}
		&-10 {
			margin-top: 10px !important;
		}
	}
	&-bottom {
		margin-bottom: 15px !important;
		&-5 {
			margin-bottom: 5px !important;
		}
		&-10 {
			margin-bottom: 10px !important;
		}
	}
	&-left {
		margin-left: 15px !important;
		&-5 {
			margin-left: 5px !important;
		}
		&-10 {
			margin-left: 10px !important;
		}
	}
	&-right {
		margin-right: 15px !important;
		&-5 {
			margin-right: 5px !important;
		}
		&-10 {
			margin-right: 10px !important;
		}
	}
	&-auto {
		margin: auto !important;
	}
}

.margin-sides {
	margin-left: 5px !important;
	margin-right: 5px !important;

	&-10 {
		margin-left: 10px !important;
		margin-right: 10px !important;		
	}

	&-15 {
		margin-left: 15px !important;
		margin-right: 15px !important;		
	}

	&-20 {
		margin-left: 20px !important;
		margin-right: 20px !important;		
	}
}

.hide {
	display: none !important;
}
.scale-hide {
	min-height: 0 !important;
	max-height: 0 !important;
	max-width: 0 !important;
	min-width: 0 !important;
	transform: scale(0, 0) !important;
	overflow: hidden;
	margin: 0 !important;
	padding: 0 !important;
	border: none !important;
}

.faded {
	opacity: .5;

	&-slight {
		opacity: .8;
	}

	&-heavy {
		opacity: .3;
	}
}

.height-limit-scroll {
    max-height: 500px;
    overflow-y: auto;
}

.grid {
	display: grid;

	&-col-2 {
		grid-template-columns: 1fr 1fr;
	}

	&-gap {
		
		&-10 {
			grid-gap: 10px;
		}

		&-20 {
			grid-gap: 20px;
		}
	}
}